:root {
  --login-color: #a6ff98; /* Lime Green */
  --home-color: #51e2f5 /*Bright Blue*/
  --register-color: #F0F0F0 /*Light Grey*/
}

.home-button {
  font: bold 16px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: var(--home-color);
  padding: 16px 24px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}


.login-button {
  font: bold 16px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: var(--login-color);
  padding: 16px 24px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.register-button {
  font: bold 16px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: var(--register-color);
  padding: 16px 24px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
