<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>USB Pets Registration</title>
</head>

<body>
  <h1>Register Your Pet</h1>
  <form action="/register" method="POST">
    <label for="username">Choose a Username:</label><br>
    <input type="text" id="username" name="username" minlength="6" maxlength="30" required><br><br>

    <label for="pin">Choose a PIN:</label><br>
    <input type="password" id="pin" name="pin" maxlength="6" required><br><br>

    <input type="submit" value="Register and Meet Your Pet">
  </form>
</body>
<footer>
  <br><br><a href="/" class="home-button">Home🏡</a>
</footer>
</html>
