.login-button {
  font: bold 16px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: var(--chance-color);
  padding: 16px 24px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
